.student-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-table th, .student-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  .student-table th {
    background-color: #fffcfc;
  }
  